.popup__error {
    display: block;
    font-size: 12px;
    color: #f00;
    transition: 0.3s;
    margin-block-start: 5px;
    min-height: 28px;
}

.popup__error:last-of-type {
    margin-bottom: 0;
  }